<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Facts</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <h1 id="title">Food Facts App</h1>
    <form method="POST" , action="/search">
      <input id="search-bar" type="text" name="searchKey" placeholder="Nutella" autocorrect="off" autocomplete="off"/>
      <button id="search-button" type="submit">
        Search <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </body>
</html>
